*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: pixelToRem(16);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
